<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title th:text="'Mops' + (${title} ? ' - ' + ${title}  : (${name} ? ' - ' + ${name} : ''))">Mops</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link href="../static/css/icono.min.css" rel="stylesheet" th:href="@{/css/icono.min.css}">
  <link href="../static/css/styles.min.css" rel="stylesheet" th:href="@{/css/styles.min.css}">
  <th:block th:if="${headcontent}" th:replace="${headcontent} ?: ~{}"></th:block>
</head>
<body>
<header class="header header-main">
  <label>
    Hide sidebar
    <input checked class="button button-sidebar button-sidebar-hide" name="button-sidebar" type="radio">
  </label>
  <label>
    Hover toggle switch 
    <input class="button button-sidebar button-navigation-primary-show" name="button-sidebar" th:if="${navigation}"
           type="radio">
  </label>
  <label>
    Show sidebar
    <input class="button button-sidebar button-sidebar-show" name="button-sidebar" type="radio">
  </label>
  <i class="icon icon-sidebar icon-sidebar-show icono-hamburger"></i>
  <i class="icon icon-sidebar icon-navigation-primary-show icono-caretLeft" th:if="${navigation}"></i>
  <i class="icon icon-sidebar icon-sidebar-hide icono-cross"></i>
  <a class="brand" href="#">
    <h1 th:text="'Mops' + (${name} ? ' - ' + ${name} : '')">Mops</h1>
  </a>
  <div class="form-search-wrapper">
    <form class="form form-search" method="get">
      <label>
        Toggles search input field
        <input class="button button-form-search button-form-search-toggle" name="searchFormIsVisible" type="checkbox"
               value="true" th:checked="${#bools.isTrue(#strings.toString(param.searchFormIsVisible))}">
      </label>
      <i class="icon icon-form-search icon-form-search-hide icono-cross"></i>
      <i class="icon icon-form-search icon-form-search-show icono-search"></i>
      <input class="form-control textfield textfield-search" name="search" placeholder="Suchen..."
             th:value="${param.search} ?: ''"
             type="search">
    </form>
  </div>
  <div class="sidebar">
    <div class="navigation-wrapper">
      <nav class="navigation navigation-primary" is="mops-navigation">
        <ul>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/anna.jpg" th:src="@{/img/resized/anna.jpg}" alt="">
              Feedback
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/babsi.jpg" th:src="@{/img/resized/babsi.jpg}" alt="">
              Foren
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/dido.jpg" th:src="@{/img/resized/dido.jpg}" alt="">
              Gruppenbildung
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/eminem.jpg" th:src="@{/img/resized/eminem.jpg}" alt="">
              Java in der Praxis
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/fin.jpg" th:src="@{/img/resized/fin.jpg}" alt="">
              Klausurzulassung
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/joghurt.jpg" th:src="@{/img/resized/joghurt.jpg}" alt="">
              Korrektorinnen-bewerbung
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/ken.jpg" th:src="@{/img/resized/ken.jpg}" alt="">
              Lernportfolios
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/mampfi.jpg" th:src="@{/img/resized/mampfi.jpg}" alt="">
              Materialsammlung
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/mopsi.jpg" th:src="@{/img/resized/mopsi.jpg}" alt="">
              Modulhandbuch
            </a>
          </li>
          <li>
            <a href="#" th:href="@{./}">
              <img src="../static/img/resized/nick.jpg" th:src="@{/img/resized/nick.jpg}" alt="">
              Terminfindung
            </a>
          </li>
          <li>
            <a href="https://mops.style">
              <img src="../static/img/resized/peter.jpg" th:src="@{/img/resized/peter.jpg}" alt="">
              Styleguide
            </a>
          </li>
        </ul>
      </nav>
      <nav class="navigation navigation-secondary" is="mops-navigation" th:replace="${navigation} ?: ~{}">
        <ul>
          <li>
            <a href="#">Link 1</a>
          </li>
          <li class="active">
            <a href="#">Link 2</a>
          </li>
          <li>
            <a href="#">Link 3</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="main-wrapper" th:insert="${bodycontent} ?: ~{:: main}">
  <main is="mops-content">
    <div class="alert alert-warning" role="alert">
      Um hier Inhalt zu sehen, muss dem <a href="http://mops.style">Styleguide</a> gefolgt werden.
    </div>
  </main>
</div>
<footer class="footer footer-main">
  <div class="account">
    <a class="account-link" href="https://keycloak.cs.hhu.de/auth/realms/MOPS/account">
      <img class="account-image" src="../static/img/resized/elvis.jpg"
           th:src="${account} ? (${account.image} ?: @{/img/resized/elvis.jpg}) : @{/img/resized/elvis.jpg}">
      <div class="account-name">
        <small th:if="${account}" th:text="${account} ? 'Angemeldet als' : ''">Angemeldet als</small>
        <span
          th:text="${account} ? (${account.name} ? ${#strings.abbreviate(account.name, 30)} : 'Unbekannt') : 'Anmelden'">Name</span>
        <small th:if="${account}"
               th:text="${account} ? (${#lists.size(account.roles)} ? 'in ' + (${#lists.size(account.roles)} == 1 ? 'der Rolle' : 'den Rollen') + ' ' + ${#strings.abbreviate(#strings.setJoin(account.roles, ', '), 30)} : 'in keinen Rollen') : 'in keinen Rollen'">in
          den Rollen ...</small>
      </div>
    </a>
    <div class="account-logout-wrapper" th:if="${account}">
      <a class="account-logout" href="/logout" th:href="@{/logout}">Abmelden</a>
    </div>
  </div>
  <span class="copyright" th:unless="${account}">© 2020 Mops</span>
</footer>
</body>
</html>
